@page
@model AdvancedProgramming4.Pages.Users

@{
    ViewData["Title"] = "Users";
}


@if (!Model.IsAdmin)
{
    <h1>Nie masz dostępu</h1>
}
else
{
    <table border="1" cellpadding="5">
        <thead>
            <tr>
                <th>ID</th>
                <th>E-mail</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var user in Model.UsersList)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Email</td>
                </tr>
            }
        </tbody>
    </table>
    
}

